/* Стили для главной страницы-начало */
/* Стили для фона страницы */
body {
  background-color: #f4c542; /* Желтый цвет фона */
  margin: 0; /* Убираем отступы */
  padding: 0; /* Убираем отступы */
}

.news-container {
  flex-direction: column; /* Расположение в столбец */
  justify-content: center; /* Выравнивание по центру по горизонтали */
  align-items: center; /* Выравнивание по центру по вертикали */
  /* Дополнительные стили для контейнера новостей */
}

.news {
  flex-direction: column; /* Делаем элементы внутри .news гибкими */
  gap: 20px; /* Пространство между элементами */
}

/* Стили для шапки */
header {
  background-color: #ff0000; /* Красный цвет фона */
  color: #fff; /* Белый цвет текста */
  text-align: center;
  padding: 10px 0;
}

/* Стили для главного меню */
nav {
  background-color: #ff9933; /* Оранжевый цвет фона */
  color: #000; /* Черный цвет текста */
  text-align: center;
  padding: 10px 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0; /* Убираем отступы */
  display: flex;
  justify-content: center; /* Выравниваем по центру */
}

nav ul li {
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0; /* У последнего элемента убираем правый отступ */
}

nav ul li a {
  color: #000; /* Черный цвет текста */
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px; /* Закругляем углы */
  background-color: #ff9933; /* Оранжевый цвет фона для кнопок */
}

nav ul li a:hover {
  background-color: #ffcc66; /* Изменяем цвет фона при наведении */
}

nav ul li {
  position: relative;
}

nav ul li ul {
  position: absolute;
  top: 100%; /* Размещаем подменю над основным контентом */
  left: 0;
  display: none;
  background-color: #fff;
  border: 1px solid #ccc;
  z-index: 1;
  padding: 10px;
  width: 200px; /* Ширина подменю */
}

nav ul li:hover ul {
  display: block;
}

nav ul li ul li {
  display: block;
  white-space: nowrap; /* Предотвращает перенос текста на новую строку */
}

nav ul li ul li a {
  display: block;
  padding: 8px 20px;
  color: #333;
  text-decoration: none;
}

nav ul li ul li:hover {
  background-color: #080707; /* Изменение цвета при наведении на пункт подменю */
}

img {
  width: 200px;
  height: 200px;
}

/* Стили для главной страницы-конец */
